body::before{
    display: block;
    content:'';
    height:50px;
}
#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media(min-width:768px){
    .news-page{
        width:50%;
    }
}

:root{
    --header-height:60px;
    scroll-padding-top:calc(var(--header-height)+100px);
    scroll-behavior: smooth;
}

header{
    height: var(--header-height);
    
}
.card {
    height: 100%;
    width: 100%;
}

.card-body.text-center {
    background-image: linear-gradient(to right,
        #822626,
        #e1dfea,
        #fbfbfb,
        #63488e,
        #d3d3d3
      );
}




